.col-2, .col-3 {
    float: left;
    text-align: center;
    padding: 100px 0 0 0;
     width: 50%;
}


.col-1 h2{
    text-align: center;
}

.col-1 {
    text-align: left;
    margin: 0 auto;
    width: 75%;
    padding: 0 5% 0 5%;
}

.homepage_content h2 {
        font-size:1.1rem;
        text-transform: uppercase;
}

.wrapper {
    padding: 2rem 0 2rem 0;
}


h3 {
    font-size: 1.25em !important;
    font-weight: 400;
    margin-bottom: .5em;
}

.homepage_content .date {
    margin: 0.25em 0 2em 0;
}

.date {
    font-size: 1.2em;
    margin: 1em 0 2em 0;
    color: #969696;
}

p {
    color: #3B373B;
}

h3 a{
    text-decoration: none;
    color: #3B373B;
}

h3 a:hover{
    color: #02C39A;
}



